h1{
    text-align: center;
}

#theWholeShabang {
    text-align: center;
    align-items: center;
    justify-content: center;
    display:flex;
}
#gameBoard{
    height: 300px;
    width:300px;
    justify-content: center;
    display:-webkit-flex;
    flex-wrap: wrap;
    font-size: 3em;
}

#button {
    padding: 2em;
}

#counter {
    padding: 1em;
}


.square{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
